@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


.parent {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #101010;
    display: flex;
}

.content {
    position: absolute;
    left: 20%;
    right: 0;
    top: 2.22%;
    bottom: 2.22%;
    background: #FFFFFF;
    border-radius: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
  }

.logo

.sidebar {
    position: relative;
    display: flex;
    border-radius: 30px;
    width: 20%;
    justify-content: center;
}


@media (max-width: 700px) {
    .sidebar {
        visibility: hidden;
    }

    .content {
        position: absolute;
        left: 2.5%;
        right: 2.5%;
        top: 2.22%;
        bottom: 2.22%;
        background: #FFFFFF;
        border-radius: 30px;
        flex: 1;
    }
}

.inner_sidebar {
    position: absolute;
    height: 35px;
    top: calc(50% - 35px/2 - 129.5px);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 20px;
    line-height: 35px;
    
    /* identical to box height, or 140% */
}

.sidebar ul li {
    margin-top: -7px;
}

.sidebar ul li a {
    font-size: 19px;
    padding: 15px 20px;
    display: block;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 7px;
    color: #FFFFFF;
}

.inner_sidebar ul li a:hover {
    background-color: #bab3b3;
    color: black;
}

.inner_sidebar ul li a.active {
    background: #bab3b3;
}

.image {
    position: absolute;
    width: 120.55px;
    height: 120.09px;
    /* /* left: 8px; */
    top: -125px;
    left: 30%; 
}